@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+KR:wght@100;300;400;700;900|Noto+Serif|Titillium+Web&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif KR', 'Noto Serif', 'Titillium Web';
  vertical-align: middle;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a,
img {
  vertical-align: top;
  text-decoration: none;
  outline: 1;
}

table {
  border-collapse: collapse;
}

.sr-only {
  display: none;
}

/* --------- font 스타일 -------- */
.text_color_yellow {
  color: #ffc700 !important;
}

.text_bold {
  font-weight: bold !important;
}

.text_left {
  text-align: left !important;
}

.p_indent p {
  font-size: 12px;
  color: #888;
  word-break: break-all;
}

.p_indent p + p {
  margin-top: 15px;
}

.sub_title {
  color: #555;
  line-height: 1.2;
  font-size: 55px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 15px 0px 10px;
}

.sub_title_md {
  color: #777;
  font-size: 35px;
  padding-bottom: 20px;
  line-height: 40px;
  text-transform: capitalize;
}

.sub_title_sm {
  color: #777;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 5px;
}

/* --------- form 스타일 -------- */
fieldset {
  border: none;
}

.form_basic {
  max-width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 15px;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 13px;
  line-height: 15px;
  vertical-align: middle;
  color: #777;
}

.form_basic::-ms-clear {
  display: none;
}

.form_basic.all {
  width: 100%;
}

.form_basic.inline {
  width: auto !important;
}

.form_basic:focus {
  position: relative;
  outline: 0;
  border-color: #999;
}

.form_basic::-webkit-input-placeholder {
  font-size: 13px;
  color: #ccc;
  opacity: 1;
}

.form_basic:-ms-input-placeholder {
  font-size: 13px;
  color: #ccc;
  opacity: 1;
}

select.form_basic {
  max-width: 100%;
  line-height: normal;
  padding-right: 30px;
  background: #fff url(../img/btn/btn-down.png) no-repeat right 12px center;
  background-size: 12px 12px;
  margin-right: 5px;
}

select.form_basic::-ms-expand {
  display: none;
}

textarea.form_basic {
  height: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: auto;
  line-height: inherit;
  resize: none;
  color: #777;
}

label {
  font-size: 13px;
  color: #777;
  font-family: 'Titillium Web';
  padding-left: 5px;
}

input[type=checkbox], input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

input[type=checkbox] + label, input[type=radio] + label {
  position: relative;
  height: 13px;
}

input[type=checkbox] + label:before, input[type=radio] + label:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #aaa;
  vertical-align: middle;
  border-radius: 3px;
  margin: -2px 5px 0 0;
  background-color: #fff;
  content: '';
}

input[type=checkbox]:focus + label:before, input[type=radio]:focus + label:before {
  border-color: #999;
}

input[type=checkbox]:disabled + label, input[type=radio]:disabled + label {
  color: #959595;
}

input[type=checkbox]:disabled + label:before, input[type=radio]:disabled + label:before {
  opacity: .3;
  border-color: #666;
}

input[type=checkbox]:checked + label:before {
  background: #fff url(../img/btn/btn-checked.png) no-repeat 45% center;
  background-size: 8px 8px;
}

input[type=radio] + label:before {
  border-radius: 50%;
}

input[type=radio]:checked + label:before {
  background: #fff url(../img/btn/btn-checked.png) no-repeat center center;
  background-size: 8px 8px;
}

.input_contants {
  display: block;
}

.input_contants + .input_contants {
  margin-top: 10px;
}

.input_contants.input_align .input_align_right {
  display: block;
  float: right;
  padding: 3px 5px 3px 3px;
}

.input_contants.input_align::after {
  content: '';
  clear: both;
  display: block;
}

.input_link_text {
  text-decoration: underline;
  font-size: 13px;
  color: #777;
  font-family: 'Titillium Web';
  line-height: 24px;
  vertical-align: middle;
}

.serviceBtn {
  display: block;
  text-align: center;
  width: 100%;
  height: 25px;
  border: 1px solid #efefef;
  font-size: 13px;
  line-height: 22px;
  color: #efefef;
  border-radius: 3px;
}

.serviceBtn + .serviceBtn {
  margin-top: 10px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn .colorBtn {
  width: 200px;
  height: 35px;
  text-align: center;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.btn .colorBtn a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 13px;
  line-height: 35px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn .colorBtn.all {
  width: 100% !important;
}

.btn .promo {
  width: 200px;
  height: 35px;
  margin-left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.btn .promo a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ffc700;
  text-align: center;
  font-size: 20px;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.btn .promo a span {
  margin-left: 3px;
  vertical-align: top;
  color: #ffc700;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.btn .promo p {
  font-size: 17px !important;
  line-height: 36px;
  color: #f3b700;
  margin-left: 16px;
  -webkit-transition: all 0.3s 0.4s;
  transition: all 0.3s 0.4s;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.btn .colorBtnInput {
  font-size: 13px;
  margin-top: 33px;
  height: 45px;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn.center_btn {
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 30px;
}

.btn.center_btn .moreBtn {
  display: inline-block;
  font-size: 15px;
  color: #777;
  opacity: 0.8;
  background: #fff url(../img/btn/btn-down.png) no-repeat right 15px center;
  background-size: 8px 8px;
  padding: 10px 30px 10px 15px;
  height: 25px;
  line-height: 0px;
  margin: 5px auto;
}

.borad_btn_wrap {
  margin-bottom: 5px;
}

.borad_btn_wrap .float_left {
  float: left;
}

.borad_btn_wrap .float_right {
  float: right;
}

.borad_btn_wrap .total {
  font-size: 15px;
  color: #666;
  font-family: 'Titillium Web';
}

.borad_btn_wrap .total strong {
  padding-left: 5px;
  vertical-align: baseline;
}

.borad_btn_wrap .boradBtn {
  display: block;
  height: 30px;
  line-height: 22px;
  padding: 1px 10px;
  min-width: 50px;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid #777;
  color: #666;
}

.borad_btn_wrap .boradBtn:focus, .borad_btn_wrap .boradBtn:hover {
  background-color: #777;
  color: #fff;
}

.borad_btn_wrap:after {
  content: '';
  display: block;
  clear: both;
}

/*--- 사이드 GNB 메뉴 ---*/
.gnb_menu {
  position: fixed;
  left: -300px;
  top: 0;
  width: 310px;
  height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 5;
}

.gnb_menu .wrap {
  padding: 110px 35px;
}

.gnb_menu .wrap .menuBtnClose {
  position: absolute;
  top: 70px;
}

.gnb_menu .wrap .menuBtnClose .menuBtn {
  display: inline-block;
  width: 22px;
  height: 23px;
  border: 1px solid #fff;
  border-radius: 3px;
}

.gnb_menu .wrap .menuBtnClose .menuBtn::after {
  content: '';
  width: 20px;
  height: 3px;
  -webkit-transform: translate(-1px, 15px) rotate(45deg);
          transform: translate(-1px, 15px) rotate(45deg);
  background: #fff;
  position: absolute;
  top: -5px;
}

.gnb_menu .wrap .menuBtnClose .menuBtn::before {
  content: '';
  width: 20px;
  height: 3px;
  -webkit-transform: translate(-1px, -5px) rotate(-45deg);
          transform: translate(-1px, -5px) rotate(-45deg);
  background: #fff;
  position: absolute;
  top: 15px;
}

.gnb_menu .wrap .menu_header {
  padding-bottom: 25px;
  border-bottom: 1px solid #efefef;
  position: relative;
}

.gnb_menu .wrap .menu_header .user {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #efefef;
  position: relative;
  margin-bottom: 10px;
}

.gnb_menu .wrap .menu_header .user i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ddd;
  font-size: 50px;
}

.gnb_menu .wrap .menu_header .user::after {
  content: '';
  display: block;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 2px solid #efefef;
  -webkit-transform: translate(-4.5px, -4.5px);
          transform: translate(-4.5px, -4.5px);
}

.gnb_menu .wrap .menu_header .user_name {
  text-align: center;
  color: #efefef;
  font-family: '';
  font-size: 17px;
}

.gnb_menu .wrap .menu_header::before {
  content: '';
  position: absolute;
  top: -50px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #efefef;
}

.gnb_menu .wrap .menu_contents {
  border-bottom: 1px solid #efefef;
}

.gnb_menu .wrap .menu_contents ul {
  padding: 25px 30px;
}

.gnb_menu .wrap .menu_contents ul li {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-bottom: 10px;
  width: 100%;
}

.gnb_menu .wrap .menu_contents ul li i {
  padding: 0 6px 0 15px;
  color: #efefef;
  font-size: 15px;
}

.gnb_menu .wrap .menu_contents ul li a {
  padding-left: 14px;
  color: #efefef;
  font-size: 18px;
  font-family: 'Titillium Web';
  letter-spacing: 1px;
}

.gnb_menu .wrap .menu_contents ul li:nth-of-type(2) i {
  padding: 0 3px 0 15px;
}

.gnb_menu .wrap .menu_contents ul li.on {
  background: #efefef;
  border-radius: 3px;
}

.gnb_menu .wrap .menu_contents ul li:hover {
  background: #efefef;
  border-radius: 3px;
}

.gnb_menu .wrap .menu_footer {
  padding: 20px 30px 40px;
  border-bottom: 1px solid #efefef;
}

/*--- 버튼 클릭시 숨겨진영역 ---*/
#aside {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
  display: none;
}

#aside .btn-slide .prev {
  position: absolute;
  left: 7%;
  opacity: 0.5;
  top: 50%;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  background: url(../img/btn/btn_prev.png) no-repeat center center/cover;
  background-size: 60px 60px;
}

#aside .btn-slide .next {
  position: absolute;
  right: 7%;
  opacity: 0.5;
  top: 50%;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  background: url(../img/btn/btn_next.png) no-repeat center center/cover;
  background-size: 60px 60px;
}

#aside .btn-slide .close {
  position: absolute;
  bottom: 6%;
  right: 7%;
  width: 55px;
  height: 55px;
  background: url(../img/btn/close.png) no-repeat center center/cover;
}

#aside .btn-slide .close::after {
  content: 'CLOSE';
  display: block;
  font-size: 20px;
  color: #fff;
  margin-left: -65px;
  opacity: 0.45;
  margin-top: 13px;
  letter-spacing: 2px;
}

#aside .wrap {
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  display: none;
}

#aside .wrap ul li dl {
  width: 50%;
  margin-top: 3vh;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#aside .wrap ul li dl dt {
  color: #fff;
  font-size: 4vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 0;
  margin-top: -10px;
}

#aside .wrap ul li dl dd {
  width: 700px;
  word-break: keep-all;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 2px;
  color: #fff;
  margin: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  opacity: 0;
  margin-top: -10px;
}

#aside .wrap ul li dl dd + dd {
  width: 500px;
  padding-top: 20px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #fff;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  margin-top: -10px;
  font-weight: 300;
}

#aside .wrap ul li dl.on {
  display: block;
}

#aside .wrap.on {
  display: block;
}

#aside .wrap.on ul {
  width: 300%;
  margin-left: -100%;
}

#aside .wrap.on ul li {
  float: left;
  display: block;
  width: 33.333%;
  height: 65vh;
}

#aside .wrap.on ul.idx1 .img1 {
  background: url(../img/product/a1.jpg) no-repeat 50% 60%/100%;
}

#aside .wrap.on ul.idx1 .img1 dl {
  margin-top: 30vh;
}

#aside .wrap.on ul.idx1 .img2 {
  background: url(../img/product/a2.jpg) no-repeat -10% 20%/100%;
}

#aside .wrap.on ul.idx1 .img3 {
  background: url(../img/product/a3.jpg) no-repeat 50% 35%/cover;
}

#aside .wrap.on ul.idx2 .img1 {
  background: url(../img/product/b1.jpg) no-repeat 50% 40%/cover;
}

#aside .wrap.on ul.idx2 .img2 {
  background: url(../img/product/b2.jpg) no-repeat 50% 50%/cover;
}

#aside .wrap.on ul.idx2 .img3 {
  background: url(../img/product/b3.jpg) no-repeat 50% 30%/cover;
}

#aside .wrap.on ul.idx3 dl {
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3);
}

#aside .wrap.on ul.idx3 dl dt,
#aside .wrap.on ul.idx3 dl dd {
  color: #012a24;
}

#aside .wrap.on ul.idx3 .img1 {
  background: url(../img/product/c1.jpg) no-repeat 0% 55%/120%;
}

#aside .wrap.on ul.idx3 .img2 {
  background: url(../img/product/c2.jpg) no-repeat 50% 30%/cover;
}

#aside .wrap.on ul.idx3 .img2 dl {
  margin-top: 15vh;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

#aside .wrap.on ul.idx3 .img2 dl dt,
#aside .wrap.on ul.idx3 .img2 dl dd {
  color: #fff;
}

#aside .wrap.on ul.idx3 .img3 {
  background: url(../img/product/c3.jpg) no-repeat 50% 25%/cover;
}

#aside .wrap.on ul.idx4 .img1 {
  background: url(../img/product/d1.jpg) no-repeat center 30%/cover;
}

#aside .wrap.on ul.idx4 .img2 {
  background: url(../img/product/d2.jpg) no-repeat 50% 0%/cover;
}

#aside .wrap.on ul.idx4 .img2 dl {
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3);
}

#aside .wrap.on ul.idx4 .img2 dl dt,
#aside .wrap.on ul.idx4 .img2 dl dd {
  color: #261d4c;
}

#aside .wrap.on ul.idx4 .img3 {
  background: url(../img/product/d3.jpg) no-repeat center center/cover;
}

.contant_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* right imgBox */
}

.contant_wrap .inner {
  width: 60%;
  height: 100%;
  padding: 60px 0 60px 120px;
  position: relative;
  /*----------컨텐츠 색상 지정 -----------*/
}

.contant_wrap .inner nav {
  width: 100%;
  height: 35px;
  position: relative;
  z-index: 4;
}

.contant_wrap .inner nav .contants_lnb {
  width: 350px;
  margin-left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contant_wrap .inner nav .contants_lnb li a {
  font-size: 18px;
  display: inline-block;
  line-height: 34px;
  min-width: 50px;
  text-align: center;
  font-family: 'Titillium Web';
  color: #555;
  font-weight: bold;
}

.contant_wrap .inner nav .contants_lnb li a::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: #888;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contant_wrap .inner nav .contants_lnb li a.on::after {
  width: 100%;
}

.contant_wrap .inner .menuBtnWrap {
  display: block;
  position: absolute;
  margin-top: 4px;
}

.contant_wrap .inner .menuBtnWrap .menuBtn {
  display: inline-block;
  width: 25px;
  height: 3px;
  background: #555;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  margin-top: -1px;
}

.contant_wrap .inner .menuBtnWrap .menuBtn::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #555;
  position: absolute;
  left: 0;
  top: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contant_wrap .inner .menuBtnWrap .menuBtn::before {
  content: '';
  width: 25px;
  height: 3px;
  background: #555;
  position: absolute;
  left: 0;
  top: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contant_wrap .inner .contents {
  position: absolute;
  z-index: 1;
  top: 50%;
  opacity: 0;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  /*----------컨텐츠 모션 -----------*/
}

.contant_wrap .inner .contents h2 {
  padding: 35px 0;
  line-height: 1.2;
  font-size: 4vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  font-weight: 900;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contant_wrap .inner .contents h2::after {
  content: 'HELLO';
  display: block;
  position: absolute;
  top: -5%;
  z-index: -1;
  letter-spacing: -5px;
  color: #e7e7e7;
  font-size: 115px;
  opacity: 0;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contant_wrap .inner .contents h2::before {
  content: '';
  display: block;
  position: absolute;
  top: 110%;
  left: 45%;
  z-index: -1;
  letter-spacing: -5px;
  color: #e7e7e7;
  opacity: 0;
  font-size: 200px;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.contant_wrap .inner .contents p {
  width: 55%;
  font-size: 12px;
  color: #888;
  margin-bottom: 60px;
  opacity: 0;
  -webkit-transition: all 0.3s 0.1s;
  transition: all 0.3s 0.1s;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contant_wrap .inner .contents .btn .colorBtn {
  opacity: 0;
}

.contant_wrap .inner .contents.on {
  opacity: 1;
  z-index: 2;
}

.contant_wrap .inner .contents.on h2 {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.contant_wrap .inner .contents.on h2::after {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 0.4;
}

.contant_wrap .inner .contents.on h2::before {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 0.4;
}

.contant_wrap .inner .contents.on p {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.contant_wrap .inner .contents.on .btn .colorBtn {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.contant_wrap .inner .contents.on .btn .promo a {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.contant_wrap .inner .contents.on .btn .promo a span {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.contant_wrap .inner .contents.on .btn .promo p {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.contant_wrap .inner #con1 h2 {
  color: #ffc700;
}

.contant_wrap .inner #con1 h2::before {
  content: 'Basic';
}

.contant_wrap .inner #con1 .btn .colorBtn {
  background: #f3b700;
  -webkit-box-shadow: 20px 30px 40px #ffc80062;
          box-shadow: 20px 30px 40px #ffc80062;
}

.contant_wrap .inner #con1 .btn .promo a {
  border: 2px solid #ffc700;
}

.contant_wrap .inner #con1 .btn .promo a span {
  color: #ffc700;
}

.contant_wrap .inner #con1 .btn .promo p {
  color: #f3b700;
}

.contant_wrap .inner #con2 h2 {
  color: #fc90a7;
}

.contant_wrap .inner #con2 h2::before {
  content: 'Special';
}

.contant_wrap .inner #con2 .btn .colorBtn {
  background: #fc90a7;
  -webkit-box-shadow: 20px 30px 40px #fc90a779;
          box-shadow: 20px 30px 40px #fc90a779;
}

.contant_wrap .inner #con2 .btn .promo a {
  border: 2px solid #fc90a7;
}

.contant_wrap .inner #con2 .btn .promo a span {
  color: #fc90a7;
}

.contant_wrap .inner #con2 .btn .promo p {
  color: #fc90a7;
}

.contant_wrap .inner #con3 h2 {
  color: #99c9ba;
}

.contant_wrap .inner #con3 h2::before {
  content: 'Branch';
}

.contant_wrap .inner #con3 .btn .colorBtn {
  background: #99c9ba;
  -webkit-box-shadow: 20px 30px 40px #99c9baa1;
          box-shadow: 20px 30px 40px #99c9baa1;
}

.contant_wrap .inner #con3 .btn .promo a {
  border: 2px solid #99c9ba;
}

.contant_wrap .inner #con3 .btn .promo a span {
  color: #99c9ba;
}

.contant_wrap .inner #con3 .btn .promo p {
  color: #99c9ba;
}

.contant_wrap .inner #con4 h2 {
  color: #aab4ed;
}

.contant_wrap .inner #con4 h2::before {
  content: 'Award';
}

.contant_wrap .inner #con4 .btn .colorBtn {
  background: #aab4ed;
  -webkit-box-shadow: 20px 30px 40px #aab4ed78;
          box-shadow: 20px 30px 40px #aab4ed78;
}

.contant_wrap .inner #con4 .btn .promo a {
  border: 2px solid #aab4ed;
}

.contant_wrap .inner #con4 .btn .promo a span {
  color: #aab4ed;
}

.contant_wrap .inner #con4 .btn .promo p {
  color: #aab4ed;
}

.contant_wrap .inner .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 90%;
  width: 98%;
}

.contant_wrap .inner .footer .sns a > i {
  font-size: 17px;
  color: #777;
  margin-right: 22px;
}

.contant_wrap .inner .footer .var {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 50px;
}

.contant_wrap .inner .footer .var i {
  color: #aaa;
  font-size: 10px;
  line-height: 22px;
}

.contant_wrap .inner .footer .var div {
  width: 220px;
  height: 2px;
  background: #eaeaea;
  margin: 10px;
}

.contant_wrap .inner .footer .var div span {
  display: block;
  width: 0%;
  height: 2.5px;
  background: #aaa;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contant_wrap .img_wrap {
  width: 40%;
  height: 100vh;
  position: relative;
  /* ------------우측 이미지 배치----------- */
  /* ----------우측 하단 이미지 배치-------- */
  /* --------- 로그인 배치 -------- */
}

.contant_wrap .img_wrap .imgs {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contant_wrap .img_wrap .imgs::after {
  content: '';
  width: 400px;
  height: 0px;
  position: absolute;
  top: 47%;
  right: 55%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.contant_wrap .img_wrap .imgs.on {
  opacity: 1;
}

.contant_wrap .img_wrap .imgs.on::after {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 400px;
  opacity: 1;
}

.contant_wrap .img_wrap #img1 {
  background: url(../img/backImg1.jpg) no-repeat center bottom;
  background-size: cover;
}

.contant_wrap .img_wrap #img1::after {
  background: url(../img/img1.jpg) no-repeat center top;
  background-size: cover;
}

.contant_wrap .img_wrap #img2 {
  background: url(../img/backImg2.jpg) no-repeat 50% 10%;
  background-size: cover;
}

.contant_wrap .img_wrap #img2::after {
  background: url(../img/img2.jpg) no-repeat 10% 70%;
  background-size: cover;
}

.contant_wrap .img_wrap #img3 {
  background: url(../img/backImg3.jpg) no-repeat center bottom;
  background-size: cover;
  -webkit-filter: saturate(65%);
          filter: saturate(65%);
}

.contant_wrap .img_wrap #img3::after {
  background: url(../img/img3.jpg) no-repeat center 10%;
  background-size: cover;
}

.contant_wrap .img_wrap #img4 {
  background: url(../img/backImg4.jpg) no-repeat center top;
  background-size: cover;
}

.contant_wrap .img_wrap #img4::after {
  background: url(../img/img4.jpg) no-repeat center top;
  background-size: cover;
}

.contant_wrap .img_wrap .aside_lnb {
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 9%;
  right: 20%;
  width: 18%;
  max-width: 100px;
}

.contant_wrap .img_wrap .aside_lnb a > i {
  color: #fff;
}

.contant_wrap .img_wrap .preview {
  position: absolute;
  width: 100%;
  height: 15vh;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contant_wrap .img_wrap .preview .prev_img {
  width: 17%;
  height: 100%;
  opacity: 0.5;
}

.contant_wrap .img_wrap .preview .prev1 {
  background: url(../img/backImg2.jpg) no-repeat center center;
  background-size: cover;
}

.contant_wrap .img_wrap .preview .prev2 {
  background: url(../img/backImg3.jpg) no-repeat center center;
  background-size: cover;
}

.contant_wrap .img_wrap .preview .prev3 {
  background: url(../img/backImg4.jpg) no-repeat center center;
  background-size: cover;
}

.contant_wrap .img_wrap .preview .prev4 {
  background: url(../img/backImg1.jpg) no-repeat center center;
  background-size: cover;
}

.contant_wrap .img_wrap .preview a {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Titillium Web';
  font-size: 20px;
  left: 20%;
  right: 50%;
}

.contant_wrap .img_wrap .preview a::after {
  content: '';
  position: absolute;
  top: 51%;
  left: 90%;
  display: block;
  width: 50%;
  height: 1px;
  background: #fff;
  opacity: 0.3;
}

.contant_wrap .img_wrap .preview .arrow {
  position: absolute;
  top: 50%;
  right: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30px;
  height: 1px;
  background: #fff;
}

.contant_wrap .img_wrap .preview .arrow::after {
  content: '';
  display: block;
  position: absolute;
  top: -7px;
  left: 13px;
  width: 20px;
  height: 1px;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contant_wrap .img_wrap .preview .arrow::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 13px;
  width: 20px;
  height: 1px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.contant_wrap .img_wrap .preview.on {
  opacity: 1;
  display: block;
}

.contant_wrap .img_wrap .sign_in_form {
  position: relative;
  top: 50%;
  left: 45%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  width: 50%;
  height: 400px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.contant_wrap .img_wrap .sign_in_form .sign_tab {
  width: 28%;
  min-width: 200px;
  margin-bottom: 35px;
}

.contant_wrap .img_wrap .sign_in_form .sign_tab li {
  display: inline-block;
  margin-right: 5px;
  margin-top: 0;
  background-color: #efefef;
  border: none;
  padding: 3px;
}

.contant_wrap .img_wrap .sign_in_form .sign_tab li a {
  color: #777;
  line-height: 20px;
  vertical-align: text-bottom;
}

.contant_wrap .img_wrap .sign_in_form .sign_tab li.on a {
  color: #fff;
}

.contant_wrap .img_wrap .sign_in_form .sign_in_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.contant_wrap .img_wrap .sign_in_form .sign_in_wrap .input_wrap {
  width: 50%;
  min-width: 250px;
  max-width: 400px;
}

.contant_wrap .img_wrap .sign_in_form .sign_in_wrap.on {
  display: block;
}

.contant_wrap .img_wrap.sign_in {
  z-index: 4;
  position: fixed;
  width: 100%;
  background: #fff;
}

.contant_wrap .img_wrap.sign_in .imgs {
  width: 35%;
}

.contant_wrap .img_wrap.sign_in .imgs::after {
  top: 50%;
  right: -15%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contant_wrap .img_wrap.sign_in .aside_lnb {
  left: 8%;
}

.contant_wrap .img_wrap.sign_in .preview {
  display: none;
}

.contant_wrap .img_wrap.sign_in .sign_in_form {
  left: 48%;
  opacity: 1;
  display: block;
}

/* 타블렛 아이패드 */
@media screen and (max-width: 770px) {
  .contant_wrap {
    /* right imgBox */
  }
  .contant_wrap .inner {
    width: 100%;
    padding: 60px 120px;
    position: absolute;
    /*----------컨텐츠 색상 지정 -----------*/
  }
  .contant_wrap .inner .gnb_menu {
    width: 310px;
  }
  .contant_wrap .inner nav {
    position: fixed;
  }
  .contant_wrap .inner nav .menuBtnWrap {
    left: -30px;
  }
  .contant_wrap .inner nav .menuBtnWrap .menuBtn {
    background: #fff;
  }
  .contant_wrap .inner nav .menuBtnWrap .menuBtn::after {
    background: #fff;
  }
  .contant_wrap .inner nav .menuBtnWrap .menuBtn::before {
    background: #fff;
  }
  .contant_wrap .inner nav .contants_lnb {
    width: 45%;
    position: absolute;
    left: 30%;
    margin-left: 0;
  }
  .contant_wrap .inner .contents {
    /*----------컨텐츠 모션 -----------*/
  }
  .contant_wrap .inner .contents h2 {
    position: absolute;
    top: -135%;
    left: 35%;
    font-size: 7.5vmax;
    line-height: 1.1;
  }
  .contant_wrap .inner .contents h2::after {
    position: absolute;
    top: 10%;
    left: -50%;
    font-size: 160px;
    -webkit-transform: translateY(-20px) rotate(-90deg);
            transform: translateY(-20px) rotate(-90deg);
  }
  .contant_wrap .inner .contents h2::before {
    top: 110%;
    left: 7%;
    font-size: 215px;
    -webkit-transform: translateY(20px) rotate(90deg);
            transform: translateY(20px) rotate(90deg);
  }
  .contant_wrap .inner .contents p {
    width: 45%;
    color: rgba(255, 255, 255, 0.486);
    -webkit-transform: translateY(195px);
            transform: translateY(195px);
  }
  .contant_wrap .inner .contents .btn {
    margin-left: 35%;
    -webkit-transform: translateY(195px);
            transform: translateY(195px);
  }
  .contant_wrap .inner .contents .btn .colorBtn {
    width: 350px;
    height: 65px;
  }
  .contant_wrap .inner .contents .btn .colorBtn a {
    font-size: 20px;
    line-height: 65px;
  }
  .contant_wrap .inner .contents .btn .promo {
    position: absolute;
    top: -250%;
    right: 35%;
    width: 210px;
  }
  .contant_wrap .inner .contents.on h2::after {
    -webkit-transform: translateY(0px) rotate(-90deg);
            transform: translateY(0px) rotate(-90deg);
  }
  .contant_wrap .inner .contents.on h2::before {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
  .contant_wrap .inner .contents.on p {
    opacity: 1;
    -webkit-transform: translateY(185px);
            transform: translateY(185px);
  }
  .contant_wrap .inner .contents.on .btn .colorBtn {
    opacity: 1;
  }
  .contant_wrap .inner .contents.on .btn .promo a {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .contant_wrap .inner .contents.on .btn .promo a span {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .contant_wrap .inner .contents.on .btn .promo p {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .contant_wrap .inner #con1 h2::before {
    content: 'Basic';
    left: 25%;
  }
  .contant_wrap .inner .footer .sns {
    display: none;
  }
  .contant_wrap .inner .footer .var {
    display: none;
  }
  .contant_wrap .img_wrap {
    /* ------------우측 이미지 배치----------- */
    /* ----------우측 하단 이미지 배치-------- */
  }
  .contant_wrap .img_wrap .imgs::after {
    display: none;
  }
  .contant_wrap .img_wrap .aside_lnb {
    display: none;
  }
  .contant_wrap .img_wrap .preview {
    position: fixed;
  }
}

/* 모바일 */
@media screen and (max-width: 539px) {
  #wrap {
    /* right imgBox */
  }
  #wrap .inner {
    /*----------컨텐츠 색상 지정 -----------*/
  }
  #wrap .inner .contents {
    /*----------컨텐츠 모션 -----------*/
  }
  #wrap .inner .contents.on {
    opacity: 1;
  }
  #wrap .inner .contents.on h2 {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  #wrap .inner .contents.on h2::after {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.4;
  }
  #wrap .inner .contents.on h2::before {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.4;
  }
  #wrap .inner .contents.on p {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  #wrap .inner .contents.on .btn .colorBtn {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  #wrap .inner .contents.on .btn .promo a {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  #wrap .inner .contents.on .btn .promo a span {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  #wrap .inner .contents.on .btn .promo p {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  #wrap .inner #con1 h2 {
    color: #ffc700;
  }
  #wrap .inner #con1 h2::before {
    content: 'Basic';
  }
  #wrap .inner #con1 .btn .colorBtn {
    background: #f3b700;
    -webkit-box-shadow: 20px 30px 40px #ffc80062;
            box-shadow: 20px 30px 40px #ffc80062;
  }
  #wrap .inner #con1 .btn .promo a {
    border: 2px solid #ffc700;
  }
  #wrap .inner #con1 .btn .promo a span {
    color: #ffc700;
  }
  #wrap .inner #con1 .btn .promo p {
    color: #f3b700;
  }
  #wrap .inner #con2 h2 {
    color: #fc90a7;
  }
  #wrap .inner #con2 h2::before {
    content: 'Special';
  }
  #wrap .inner #con2 .btn .colorBtn {
    background: #fc90a7;
    -webkit-box-shadow: 20px 30px 40px #fc90a779;
            box-shadow: 20px 30px 40px #fc90a779;
  }
  #wrap .inner #con2 .btn .promo a {
    border: 2px solid #fc90a7;
  }
  #wrap .inner #con2 .btn .promo a span {
    color: #fc90a7;
  }
  #wrap .inner #con2 .btn .promo p {
    color: #fc90a7;
  }
  #wrap .inner #con3 h2 {
    color: #99c9ba;
  }
  #wrap .inner #con3 h2::before {
    content: 'Branch';
  }
  #wrap .inner #con3 .btn .colorBtn {
    background: #99c9ba;
    -webkit-box-shadow: 20px 30px 40px #99c9baa1;
            box-shadow: 20px 30px 40px #99c9baa1;
  }
  #wrap .inner #con3 .btn .promo a {
    border: 2px solid #99c9ba;
  }
  #wrap .inner #con3 .btn .promo a span {
    color: #99c9ba;
  }
  #wrap .inner #con3 .btn .promo p {
    color: #99c9ba;
  }
  #wrap .inner #con4 h2 {
    color: #aab4ed;
  }
  #wrap .inner #con4 h2::before {
    content: 'Award';
  }
  #wrap .inner #con4 .btn .colorBtn {
    background: #aab4ed;
    -webkit-box-shadow: 20px 30px 40px #aab4ed78;
            box-shadow: 20px 30px 40px #aab4ed78;
  }
  #wrap .inner #con4 .btn .promo a {
    border: 2px solid #aab4ed;
  }
  #wrap .inner #con4 .btn .promo a span {
    color: #aab4ed;
  }
  #wrap .inner #con4 .btn .promo p {
    color: #aab4ed;
  }
  #wrap .img_wrap {
    /* ------------우측 이미지 배치----------- */
    /* ----------우측 하단 이미지 배치-------- */
  }
  #wrap .img_wrap .imgs.on {
    opacity: 1;
  }
  #wrap .img_wrap .imgs.on::after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 400px;
    opacity: 1;
  }
  #wrap .img_wrap #img1 {
    background: url(../img/backImg1.jpg) no-repeat center bottom;
    background-size: cover;
  }
  #wrap .img_wrap #img1::after {
    background: url(../img/img1.jpg) no-repeat center top;
    background-size: cover;
  }
  #wrap .img_wrap #img2 {
    background: url(../img/backImg2.jpg) no-repeat 50% 10%;
    background-size: cover;
  }
  #wrap .img_wrap #img2::after {
    background: url(../img/img2.jpg) no-repeat 10% 70%;
    background-size: cover;
  }
  #wrap .img_wrap #img3 {
    background: url(../img/backImg3.jpg) no-repeat center bottom;
    background-size: cover;
    -webkit-filter: saturate(65%);
            filter: saturate(65%);
  }
  #wrap .img_wrap #img3::after {
    background: url(../img/img3.jpg) no-repeat center 10%;
    background-size: cover;
  }
  #wrap .img_wrap #img4 {
    background: url(../img/backImg4.jpg) no-repeat center top;
    background-size: cover;
  }
  #wrap .img_wrap #img4::after {
    background: url(../img/img4.jpg) no-repeat center top;
    background-size: cover;
  }
  #wrap .img_wrap .preview .prev1 {
    background: url(../img/backImg2.jpg) no-repeat center center;
    background-size: cover;
  }
  #wrap .img_wrap .preview .prev2 {
    background: url(../img/backImg3.jpg) no-repeat center center;
    background-size: cover;
  }
  #wrap .img_wrap .preview .prev3 {
    background: url(../img/backImg4.jpg) no-repeat center center;
    background-size: cover;
  }
  #wrap .img_wrap .preview .prev4 {
    background: url(../img/backImg1.jpg) no-repeat center center;
    background-size: cover;
  }
  #wrap .img_wrap .preview .arrow::after {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: 13px;
    width: 20px;
    height: 1px;
    background: #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #wrap .img_wrap .preview .arrow::before {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 13px;
    width: 20px;
    height: 1px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #wrap .img_wrap .preview.on {
    opacity: 1;
    display: block;
  }
}

.contant_wrap.sub_contant_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contant_wrap.sub_contant_wrap .inner.sub_inner {
  width: 100%;
  padding: 60px 120px;
}

.contant_wrap.sub_contant_wrap .inner.sub_inner nav .contants_lnb {
  width: 450px;
}

.contant_wrap.sub_contant_wrap .inner.sub_inner nav .contants_lnb li a .colorBtn {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contant_wrap.sub_contant_wrap .inner.sub_inner nav .contants_lnb li a::after {
  display: none;
}

.contant_wrap.sub_contant_wrap .inner.sub_inner nav .contants_lnb li a.on .colorBtn {
  opacity: 1;
}

.contant_wrap.sub_contant_wrap .inner.sub_inner nav .contants_lnb li:nth-of-type(1) .colorBtn {
  background-color: #aab4ed;
}

.contant_wrap.sub_contant_wrap .inner.sub_inner nav .contants_lnb li:nth-of-type(2) .colorBtn {
  background-color: #f3b700;
}

.contant_wrap.sub_contant_wrap .inner.sub_inner nav .contants_lnb li:nth-of-type(3) .colorBtn {
  background-color: #fc90a7;
}

.contant_wrap.sub_contant_wrap .inner.sub_inner nav .contants_lnb.contants_lnb_oneli {
  width: 140px;
  left: 110px;
}

.contant_wrap.sub_contant_wrap .inner.sub_inner nav .contants_lnb.contants_lnb_oneli li .contents_sub_title {
  font-size: 25px;
  display: inline-block;
  line-height: 34px;
  min-width: 50px;
  text-align: center;
  font-family: 'Titillium Web';
  color: #555;
}

.contant_wrap.sub_contant_wrap .inner.sub_inner nav .contants_lnb.contants_lnb_oneli li .contents_sub_title .colorBtn {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #99c9ba;
}

/* subpage 소팅이미지 리스트 레이아웃 */
.img_list_btn ul {
  height: 45px;
  padding: 10px 0px;
}

.img_list_btn ul li {
  margin-right: 5px;
}

.img_list_btn ul li a {
  color: #777;
  padding: 0 10px;
  border-color: #777;
}

.img_list_btn ul li.on a {
  color: #fff;
  background-color: #777;
}

.img_list ul {
  width: 100%;
}

.img_list ul li.sorting_img {
  width: 25%;
  float: left;
  padding: 10px;
}

.img_list ul li.sorting_img .sorting_img_wrap {
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.img_list ul li.sorting_img .sorting_img_wrap img {
  width: 100%;
}

.img_list ul li.sorting_img .sorting_img_wrap strong {
  display: inline-block;
  font-size: 15px;
  color: #555;
  padding-top: 10px;
  padding-bottom: 3px;
}

.img_list ul li.sorting_img .sorting_img_wrap p {
  font-size: 10px;
  color: #888;
  margin-bottom: 10px;
}

.img_list ul li.sorting_img::after {
  content: '';
  display: block;
  clear: both;
}

/* subpage 이미지&텍스트 레이아웃 */
.imgntext .imgntext_wrap {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.imgntext .imgntext_wrap .imgntext_img {
  max-width: 500px;
  min-width: 300px;
}

.imgntext .imgntext_wrap .imgntext_img img {
  width: 100%;
  background-size: cover;
}

.imgntext .imgntext_wrap .imgntext_img + .imgntext_text {
  margin-left: 40px;
}

.imgntext .imgntext_wrap .imgntext_img + .imgntext_img {
  margin-left: 10px;
}

.imgntext .imgntext_wrap .imgntext_text + .imgntext_img {
  margin-left: 40px;
}

.imgntext .imgntext_wrap.row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.imgntext .imgntext_wrap.row .imgntext_img {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.imgntext .imgntext_wrap.row .imgntext_img + .imgntext_text {
  margin-left: 0px;
}

.imgntext .imgntext_wrap.row .imgntext_img img {
  width: auto;
  max-height: 300px;
  margin: 15px 0;
}

.imgntext .imgntext_wrap.row .imgntext_img img + img {
  margin-left: 10px;
}

/* 타블렛 아이패드 */
@media screen and (max-width: 770px) {
  .contant_wrap.sub_contant_wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner {
    width: 100%;
    padding: 30px 60px;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav .menuBtnWrap {
    left: 60px;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav .menuBtnWrap .menuBtn {
    background: #555;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav .menuBtnWrap .menuBtn::after {
    background: #555;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav .menuBtnWrap .menuBtn::before {
    background: #555;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav .contants_lnb {
    right: 60px;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav.on {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .sub_title {
    margin-top: 35px;
  }
  .sub_title_md {
    font-size: 28px;
    line-height: 32px;
  }
  .sub_title_sm {
    margin-top: 15px;
    font-size: 15px;
    line-height: 20px;
  }
  .p_indent p + p {
    margin-top: 10px;
  }
  /* subpage 소팅이미지 리스트 레이아웃 */
  .img_list ul li.sorting_img {
    width: 33.3333%;
    float: left;
    padding: 5px;
  }
  .img_list ul li.sorting_img .sorting_img_wrap {
    padding: 10px;
  }
  .img_list ul li.sorting_img .sorting_img_wrap strong {
    display: inline-block;
    font-size: 15px;
    color: #555;
    padding-top: 10px;
    padding-bottom: 3px;
  }
  /* subpage02 이미지&텍스트 레이아웃 */
  .imgntext .imgntext_wrap {
    margin-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imgntext .imgntext_wrap .imgntext_img {
    max-width: 100%;
    max-height: 220px;
    overflow: hidden;
  }
  .imgntext .imgntext_wrap .imgntext_img img {
    width: 100%;
    background-size: cover;
    position: relative;
  }
  .imgntext .imgntext_wrap .imgntext_img + .imgntext_text {
    margin-left: 0px;
  }
  .imgntext .imgntext_wrap .imgntext_img + .imgntext_img {
    margin-left: 0px;
  }
  .imgntext .imgntext_wrap .imgntext_text + .imgntext_img {
    margin-left: 0px;
    margin-top: 15px;
  }
  .imgntext .imgntext_wrap.row .imgntext_img {
    max-width: 100%;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    margin: 20px 0;
  }
  .imgntext .imgntext_wrap.row .imgntext_img + .imgntext_text {
    margin-left: 0px;
  }
  .imgntext .imgntext_wrap.row .imgntext_img img {
    margin: 5px 0;
  }
  .imgntext .imgntext_wrap.row .imgntext_img img + img {
    margin-left: 10px;
  }
  .imgntext:last-child {
    padding-bottom: 60px;
  }
}

/* borad type 레이아웃 */
.sub_contant_wrap .sub_inner nav .contants_2 {
  width: 240px !important;
}

/* borad 검색박스 레이아웃 */
.borad_search_wrap {
  width: 100%;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  padding: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.borad_search_wrap .form_basic {
  border-color: #555;
  opacity: 0.5;
}

.borad_search_wrap .form_basic:focus, .borad_search_wrap .form_basic:hover {
  opacity: 1;
}

.borad_search_wrap input[type=text] {
  width: 40%;
  margin-right: 15px;
  padding: 0px 20px;
}

.borad_search_wrap .searchBtn {
  padding: 0 25px;
  height: 40px;
  background: #666;
  color: #fff;
  font-size: 13px;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

/* borad 리스트 레이아웃 */
.borad_list_wrap {
  border-top: 2px solid #777;
  border-bottom: 2px solid #777;
  margin-bottom: 30px;
}

.borad_list_wrap table {
  width: 100%;
}

.borad_list_wrap tr:nth-of-type(even) {
  background: rgba(0, 0, 0, 0.03);
}

.borad_list_wrap th {
  font-size: 13px;
  color: #777;
  padding: 10px 0;
}

.borad_list_wrap td {
  min-width: 50px;
  font-size: 13px;
  color: #999;
  padding: 10px 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.borad_list_wrap td.text_width {
  max-width: 100px;
}

.borad_list_wrap td a {
  color: #999;
  white-space: nowrap;
  word-break: break-all;
}

.borad_list_wrap td:hover a {
  text-decoration: underline;
}

.borad_list_wrap tbody tr:hover {
  background-color: #efefef;
}

.borad_list_wrap .borad_line_gray {
  border-bottom: 1px solid #777;
}

/* borad 페이지네이션 레이아웃 */
.borad_pagination {
  width: 100%;
  text-align: center;
}

.borad_pagination .paginationBtn {
  font-size: 10px;
  letter-spacing: 3px;
  display: block;
  width: 80px;
  height: 25px;
  background: #666;
  color: #fff;
  line-height: 25px;
  border-radius: 3px;
}

.borad_pagination .prev {
  float: left;
}

.borad_pagination .next {
  float: right;
}

.borad_pagination .numbers {
  display: inline-block;
}

.borad_pagination .numbers a {
  font-size: 13px;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 5px;
  line-height: 1;
  border: 1px solid #666;
  color: #666;
  border-radius: 3px;
}

.borad_pagination .numbers a:hover, .borad_pagination .numbers a.on {
  background: #666;
  color: #fff;
}

.borad_pagination:after {
  content: '';
  display: block;
  clear: both;
}

/* borad 박스형 리스트 레이아웃 */
.borad_box_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  border-top: 2px solid #777;
  border-bottom: 2px solid #777;
  margin-bottom: 30px;
  padding: 15px 6%;
}

.borad_box_wrap .box_list {
  margin: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333333% - 10px);
          flex: 0 0 calc(33.333333% - 10px);
  width: calc(33.333333% - 10px);
  max-width: calc(33.333333% - 10px);
}

.borad_box_wrap .box_list .box_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ccc;
  padding: 15px 20px;
  border-radius: 3px;
}

.borad_box_wrap .box_list .box_item .subject_area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  max-height: 50px;
  min-height: 50px;
  line-height: 26px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.borad_box_wrap .box_list .box_item .subject_area .subject {
  color: #777;
  font-size: 15px;
  line-height: 20px;
}

.borad_box_wrap .box_list .box_item .subject_area .ico_new {
  margin-top: 3px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  line-height: 13px;
  text-align: center;
  background-color: #f3b700;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-family: 'Titillium Web';
  color: #fff;
}

.borad_box_wrap .box_list .box_item .info_area {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  color: #999;
}

.borad_box_wrap .box_list .box_item .info_area .left span + span {
  margin-left: 5px;
}

/* 타블렛 아이패드 */
@media screen and (max-width: 770px) {
  .contant_wrap.sub_contant_wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner {
    width: 100%;
    padding: 30px 60px;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav .menuBtnWrap {
    left: 60px;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav .menuBtnWrap .menuBtn {
    background: #555;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav .menuBtnWrap .menuBtn::after {
    background: #555;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav .menuBtnWrap .menuBtn::before {
    background: #555;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav .contants_lnb {
    right: 60px;
  }
  .contant_wrap.sub_contant_wrap .inner.sub_inner nav.on {
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .sub_title {
    margin-top: 35px;
  }
  .sub_title_md {
    font-size: 28px;
    line-height: 32px;
  }
  .sub_title_sm {
    margin-top: 15px;
    font-size: 15px;
    line-height: 20px;
  }
}

/* 모바일 */
@media screen and (max-width: 539px) {
  .borad_pagination .numbers {
    display: inline-block;
  }
  .borad_pagination .numbers a {
    display: none;
  }
  .borad_pagination:after {
    content: '';
    display: block;
    clear: both;
  }
}
/*# sourceMappingURL=style.css.map */