@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:wght@100;300;400;700;900|Noto+Serif|Titillium+Web&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Serif KR', 'Noto Serif', 'Titillium Web';
	vertical-align: middle;
	outline: 0;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a,
img {
	vertical-align: top;
	text-decoration: none;
	outline: 1;
}

table {
	border-collapse: collapse;
}

.sr-only {
	display: none;
}

/* --------- font 스타일 -------- */
.text_color_yellow {
	color: #ffc700 !important;
}

.text_bold {
	font-weight: bold !important;
}

.text_left {
	text-align: left !important;
}

.p_indent {
	p {
		font-size: 12px;
		color: #888;
		word-break: break-all;
	}

	p+p {
		margin-top: 15px;
	}
}

.sub_title {
	color: #555;
	//text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	line-height: 1.2;
	font-size: 4vw;
	transition: all 0.3s;
	padding: 15px 0px 10px;
}

.sub_title_md {
	color: #777;
	font-size: 35px;
	padding-bottom: 20px;
	line-height: 40px;
	text-transform: capitalize;
}

.sub_title_sm {
	color: #777;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 18px;
	padding-bottom: 5px;
}

/* --------- form 스타일 -------- */
fieldset {
	border: none;
}

//input
.form_basic {
	max-width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 6px 15px;
	background: #fff;
	appearance: none;
	font-size: 13px;
	line-height: 15px;
	vertical-align: middle;
	color: #777;

	&::-ms-clear {
		display: none;
	}

	&.all {
		width: 100%;
	}

	&.inline {
		width: auto !important;
	}

	&:focus {
		position: relative;
		outline: 0;
		border-color: #999;
	}

	//placeholder
	&::-webkit-input-placeholder {
		font-size: 13px;
		color: #ccc;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		font-size: 13px;
		color: #ccc;
		opacity: 1;
	}
}

select.form_basic {
	max-width: 100%;
	line-height: normal;
	padding-right: 30px;
	background: #fff url(../img/btn/btn-down.png) no-repeat right 12px center;
	background-size: 12px 12px;
	margin-right: 5px;

	&::-ms-expand {
		display: none;
	}
}

textarea.form_basic {
	height: auto;
	padding-top: 12px;
	padding-bottom: 12px;
	overflow: auto;
	line-height: inherit;
	resize: none;
	color: #777;
}

label {
	font-size: 13px;
	color: #777;
	font-family: 'Titillium Web';
	padding-left: 5px;
}

input {
	$size: 13px;

	&[type=checkbox],
	&[type=radio] {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;

		+label {
			position: relative;
			height: $size;

			&:before {
				box-sizing: border-box;
				display: inline-block;
				width: $size;
				height: $size;
				border: 1px solid #aaa;
				vertical-align: middle;
				border-radius: 3px;
				margin: -2px 5px 0 0;
				background-color: #fff;
				content: '';
			}
		}

		&:focus {
			+label {
				&:before {
					border-color: #999;
				}
			}
		}

		// &:checked {
		// 	+label {
		// 		&:before {
		// 			border-color: $primary;
		// 		}
		// 	}
		// }

		&:disabled {
			+label {
				color: #959595;

				&:before {
					opacity: .3;
					border-color: #666;
				}
			}
		}
	}

	&[type=checkbox] {
		&:checked {
			+label {
				&:before {
					background: #fff url(../img/btn/btn-checked.png) no-repeat 45% center;
					background-size: 8px 8px;
				}
			}
		}
	}

	&[type=radio] {
		+label {
			&:before {
				border-radius: 50%;
			}
		}

		&:checked {
			+label {
				&:before {
					background: #fff url(../img/btn/btn-checked.png) no-repeat center center;
					background-size: 8px 8px;
				}
			}
		}
	}

}

.input_contants {
	display: block;

	&+.input_contants {
		margin-top: 10px;
	}

	&.input_align {
		.input_align_right {
			display: block;
			float: right;
			padding: 3px 5px 3px 3px;
		}

		&::after {
			content: '';
			clear: both;
			display: block;
		}
	}
}

.input_link_text {
	text-decoration: underline;
	font-size: 13px;
	color: #777;
	font-family: 'Titillium Web';
	line-height: 24px;
	vertical-align: middle;
}

//버튼 가이드
.serviceBtn {
	display: block;
	text-align: center;
	width: 100%;
	height: 25px;
	border: 1px solid #efefef;
	font-size: 13px;
	line-height: 22px;
	color: #efefef;
	border-radius: 3px;

	&+.serviceBtn {
		margin-top: 10px;
	}
}


.btn {
	display: flex;

	.colorBtn {
		width: 200px;
		height: 35px;
		text-align: center;
		transition: all 0.3s 0.3s;
		transform: translateY(15px);

		a {
			display: inline-block;
			width: 100%;
			height: 100%;
			font-size: 13px;
			line-height: 35px;
			color: #fff;
			letter-spacing: 1px;
			text-transform: uppercase;
			transition: all 0.3s;
		}

		&.all {
			width: 100% !important;
		}
	}

	.promo {
		width: 200px;
		height: 35px;
		margin-left: 45px;
		display: flex;
		cursor: pointer;

		a {
			display: inline-block;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border: 2px solid #ffc700;
			text-align: center;
			font-size: 20px;
			transition: all 0.3s 0.3s;
			opacity: 0;
			transform: translateY(10px);

			span {
				margin-left: 3px;
				vertical-align: top;
				color: #ffc700;
				transition: all 0.3s 0.3s;
				opacity: 0;
				transform: translateY(10px);
			}
		}

		p {
			font-size: 17px !important;
			line-height: 36px;
			color: #f3b700;
			margin-left: 16px;
			transition: all 0.3s 0.4s;
			opacity: 0;
			transform: translateY(10px);
		}
	}

	.colorBtnInput {
		font-size: 13px;
		margin-top: 33px;
		height: 45px;
		text-align: center;
		box-shadow: none;
		width: 100%;
		border: none;
		color: #fff;
		letter-spacing: 2px;
		cursor: pointer;
	}

	&.center_btn {
		margin: 0 auto;

		.moreBtn {
			display: inline-block;
			border: 1px solid #777;
			border-radius: 3px;
			font-size: 13px;
			color: #777;
			background: #fff url(../img/btn/btn-down.png) no-repeat right 15px center;
			background-size: 8px 8px;
			padding: 10px 30px 10px 15px;
			height: 25px;
			line-height: 0px;
			margin-top: 30px;
			margin-bottom: 5px;
		}
	}
}

.borad_btn_wrap {
	margin-bottom: 5px;

	.float_left {
		float: left;
	}

	.float_right {
		float: right;
	}

	.total {
		font-size: 15px;
		color: #666;
		font-family: 'Titillium Web';

		strong {
			padding-left: 5px;
			vertical-align: baseline;
		}
	}

	.boradBtn {
		display: block;
		height: 30px;
		line-height: 22px;
		padding: 1px 10px;
		min-width: 50px;
		font-weight: bold;
		background-color: #fff;
		border: 2px solid #777;
		color: #666;

		&:focus,
		&:hover {
			background-color: #777;
			color: #fff;
		}
	}

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}