.contant_wrap.sub_contant_wrap {
	position: relative;
	display: flex;
	flex-direction: column;

	.inner {
		&.sub_inner {
			width: 100%;
			padding: 60px 120px;

			nav {
				.contants_lnb {
					width: 450px;

					li {
						a {
							.colorBtn {
								display: inline-block;
								width: 10px;
								height: 10px;
								margin-left: 5px;
								border-radius: 50%;
								opacity: 0;
								transition: all 0.3s;
							}

							&::after {
								display: none;
							}

							&.on {
								.colorBtn {
									opacity: 1;
								}
							}
						}

						&:nth-of-type(1) {
							.colorBtn {
								background-color: #aab4ed;
							}
						}

						&:nth-of-type(2) {
							.colorBtn {
								background-color: #f3b700;
							}
						}

						&:nth-of-type(3) {
							.colorBtn {
								background-color: #fc90a7;
							}
						}
					}

					&.contants_lnb_oneli {
						width: 140px;
						left: 110px;

						li {
							.contents_sub_title {
								font-size: 25px;
								display: inline-block;
								line-height: 34px;
								min-width: 50px;
								text-align: center;
								font-family: 'Titillium Web';
								color: #555;

								.colorBtn {
									display: inline-block;
									width: 10px;
									height: 10px;
									margin-left: 5px;
									border-radius: 50%;
									background-color: #99c9ba;
								}
							}
						}
					}
				}
			}

		}
	}
}

/* subpage 소팅이미지 리스트 레이아웃 */
.img_list_btn {
	ul {
		height: 45px;
		padding: 10px 0px;

		li {
			margin-right: 5px;

			a {
				color: #777;
				//background-color: #efefef;
				padding: 0 10px;
				border-color: #777;
			}

			&.on {
				a {
					color: #fff;
					background-color: #777;
				}
			}
		}
	}
}

.img_list {

	ul {
		width: 100%;

		li.sorting_img {
			width: 25%;
			float: left;
			padding: 10px;

			.sorting_img_wrap {
				background: #fff;
				border-radius: 3px;
				box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
				padding: 15px;

				img {
					width: 100%;
				}

				strong {
					display: inline-block;
					font-size: 15px;
					color: #555;
					padding-top: 10px;
					padding-bottom: 3px;
				}

				p {
					font-size: 10px;
					color: #888;
					margin-bottom: 10px;
				}
			}

			&::after {
				content: '';
				display: block;
				clear: both;
			}
		}
	}
}

/* subpage 이미지&텍스트 레이아웃 */
.imgntext {
	.imgntext_wrap {
		margin-top: 45px;
		display: flex;
		position: relative;

		.imgntext_img {
			max-width: 500px;
			min-width: 300px;

			img {
				width: 100%;
				background-size: cover;
			}

			&+.imgntext_text {
				margin-left: 40px;
			}

			&+.imgntext_img {
				margin-left: 10px;
			}
		}

		.imgntext_text {
			&+.imgntext_img {
				margin-left: 40px;
			}
		}

		&.row {
			flex-direction: column;

			.imgntext_img {
				max-width: 100%;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				margin: 20px 0;

				&+.imgntext_text {
					margin-left: 0px;
				}

				img {
					width: auto;
					max-height: 300px;
					margin: 15px 0;

					&+img {
						margin-left: 10px;
					}

				}
			}
		}
	}

}


/* 타블렛 아이패드 */
@media screen and (max-width:770px) {
	.contant_wrap.sub_contant_wrap {
		position: relative;
		display: flex;
		flex-direction: column;

		.inner {
			&.sub_inner {
				width: 100%;
				padding: 30px 60px;

				nav {
					position: fixed;
					background-color: #fff;
					top: 0;
					left: 0;
					right: 0;
					padding: 35px;

					.menuBtnWrap {
						left: 60px;

						.menuBtn {
							background: #555;

							&::after {
								background: #555;
							}

							&::before {
								background: #555;
							}
						}
					}

					.contants_lnb {
						right: 60px;
						// li {
						// 	a {
						// 		.colorBtn {
						// 		}
						// 	}
						//}
					}

					&.on {
						box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
					}
				}
			}
		}
	}

	.sub_title {
		margin-top: 35px;
	}

	.sub_title_md {
		font-size: 28px;
		line-height: 32px;
	}

	.sub_title_sm {
		margin-top: 15px;
		font-size: 15px;
		line-height: 20px;
	}

	.p_indent p+p {
		margin-top: 10px;
	}

	/* subpage 소팅이미지 리스트 레이아웃 */
	.img_list {
		ul {
			li.sorting_img {
				width: 33.3333%;
				float: left;
				padding: 5px;

				.sorting_img_wrap {
					padding: 10px;

					strong {
						display: inline-block;
						font-size: 15px;
						color: #555;
						padding-top: 10px;
						padding-bottom: 3px;
					}

				}

			}
		}
	}

	/* subpage02 이미지&텍스트 레이아웃 */
	.imgntext {
		.imgntext_wrap {
			margin-top: 15px;
			flex-direction: column;

			.imgntext_img {
				max-width: 100%;
				max-height: 220px;
				overflow: hidden;

				img {
					width: 100%;
					background-size: cover;
					position: relative;
				}

				&+.imgntext_text {
					margin-left: 0px;
				}

				&+.imgntext_img {
					margin-left: 0px;
				}
			}

			.imgntext_text {
				&+.imgntext_img {
					margin-left: 0px;
					margin-top: 15px;
				}
			}

			&.row {
				.imgntext_img {
					max-width: 100%;
					max-height: fit-content;
					margin: 20px 0;

					&+.imgntext_text {
						margin-left: 0px;
					}

					img {
						margin: 5px 0;

						&+img {
							margin-left: 10px;
						}

					}
				}
			}
		}

		&:last-child {
			padding-bottom: 60px;
		}
	}

}

// /* 모바일 */
// @media screen and (max-width:539px) {

// }